body {
  margin-top: 230px;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin-top: 70px;
    margin-left: 70px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}


.nav-tabs .glyphicon:not(.no-margin) {
  margin-right: 10px;
}

.tab-pane .list-group-item:first-child {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

.tab-pane .list-group-item:last-child {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.tab-pane .list-group .checkbox {
  display: inline-block;
  margin: 0px;
}

.tab-pane .list-group input[type="checkbox"] {
  margin-top: 2px;
}

.tab-pane .list-group .glyphicon {
  margin-right: 5px;
}

.tab-pane .list-group .glyphicon:hover {
  color: #FFBC00;
}

a.list-group-item.read {
  color: #222;
  background-color: #F3F3F3;
}

hr {
  margin-top: 5px;
  margin-bottom: 10px;
}

.nav-pills>li>a {
  padding: 5px 10px;
}

#case {
  position: relative;
}
.full_screen{
     position: fixed;
    top: 0;
    right: 0;
    bottom: 70%;
    left: 0;
    background-size: cover;
    background-color: #DC4437;
}

.profile-header-container{
    margin: 0 auto;
}

.profile-header-img {
    padding: 54px;
}

.profile-header-img > img.img-circle {
    width: 120px;
    height: 120px;
    border: 2px solid #51D2B7;
}



/**
 * Ranking component
 */
.rank-label-container {
    margin-top: -19px;
    /* z-index: 1000; */

    text-align:left;
}

.label.label-default.rank-label {
    background-color: rgb(81, 210, 183);
    padding: 5px 10px 5px 10px;
    border-radius: 27px;
}
